<!doctype html>
<html lang="{{ app.lang }}">
  <head>
    {% include '../_partials/commons/head.twig' %}
  </head>
  <body class="page_article">
    <!--[if lt IE 9]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    
    {% include "../_partials/navs/nav_primary.twig" %}
    
    <div class="page fixie">
        
        <header role="banner">
           {% block header %}{% endblock %}
        </header>
    
        <div class="main-wrapper">
            <main role="main">
                {% block content %}{% endblock %}
            </main>  
        </div>
        
        <aside role="complementary">
            {% block aside %}{% endblock %}
        </aside>
        
        <div id="extra">
            {% block extra %}{% endblock %}
        </div>
        
    </div>
    
    <footer role="contentinfo">
        <div class="wrapper fixie">
            {% include '../_partials/commons/footer.twig' %}
        </div>
    </footer>
    
    {% include '../_partials/commons/bottom.twig' %}
    
  </body>
</html>