.sass-cache/**

/node_modules/**

/_EXTENSIONS/**
!/_EXTENSIONS/readme.md

/_FRAMEWORKS/**
!/_FRAMEWORKS/readme.md

/_JS_LIBS/**
!/_JS_LIBS/readme.md

/_KITCHEN/**
!_KITCHEN/readme.md
!/_KITCHEN/_app-boilerplates/basic_prototype

/_MATERIALS/**
!/_MATERIALS/readme.md

*.scssc
.DS_Store