


<div class="top-nav">
    
    <nav class='cssmenu js-menumaker' role="primary">
                
        <div class="logo">
            <a href="/" title="{{ app.name }}">
                <img src="{{ app.images_path }}/theme/logo.png" alt="">
            </a>
        </div>
        <div id="head-mobile">
            {{ app.name }}
        </div>
        <div class="mobile-button"></div>
        {% include "../lists/summary.twig" %}
    
    </nav>
  
</div>