<!doctype html>
<html class="no-js" lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    
    <title>Mister-GraphX</title>
    <meta name="description" content="Création de sites internet, graphisme, web design">
        
        
    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="196x196" href="assets/images/touch/chrome-touch-icon-196x196.png">
    
    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Mister-GraphX">
    
    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="assets/images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#3372DF">
    
    <link rel="icon" type="image/png" href="assets/images/favicon.png">
    <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
    <!--
    <link rel="canonical" href="http://www.example.com/">
    -->
    
    <!-- Google WebFont
    https://www.google.com/fonts#UsePlace:use/Collection:Cardo:400,400italic,700|Oswald:400,300,700
        -->
    
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700|Cardo:400,400italic' rel='stylesheet' type='text/css'>
    
    
    <!-- build:css ../assets/css/main.css  -->
        <link rel="stylesheet" href="assets/css/main.css">
    <!-- endBuild -->
    <link rel="canonical" href="http://pico-graphx.dev">
</head>
<body class="">
    <!--[if lt IE 9]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="header-wrapper">
        <div id="header" class="app-bar promote-layer" role="banner">
            <div class="app-bar-container">
              <button class="menu">
                  <i class="icon-menu"></i>
              </button>
              <h1 class="logo">
                      <picture>
                              <source srcset="assets/images/theme/mascotte_mist_gx--large.png" media="(min-width: 900px)">
                              <source srcset="assets/images/theme/mascotte_mist_gx--small.png" media="(max-width: 899px)">
                              <img  src="assets/images/theme/mascotte_mist_gx--small.png"
                                    srcset="assets/images/theme/mascotte_mist_gx--small.png" alt="">
                      </picture>
                      <small>www.</small>Mister-GraphX<small>.com</small>
              </h1>
              <!-- Put App Bar Buttons Here 
                  <section class="app-bar-actions"></section>
              -->
            </div>
        </div>
        <div id="nav" class="navdrawer-container promote-layer" role="navigation">
            <p class="medium">Navigation</p>
    
            <ul>
                <li><a href="#home">Accueil</a></li>
                <li><a href="#print">Print</a></li>
                <li><a href="#web">Web</a></li>
                <li><a href="#intro">Qui suis-je ?</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div>       
    </div>

    <div id="main"  role="main">
        <div class="bg--home">
            <!-- Intro/ Testimonial -->
            <article id="home" class="js-appear h-entry" data-appear="fade-in" data-appear-direction="">
                <h1 class="visuallyhidden">Agence print web</h1>
            </article>
        </div>
        <div class="bg--print">
            <!-- Intro/ Testimonial -->
            <article id="print" class="js-appear h-entry" data-appear="fade-in" data-appear-direction="">
                <h2 class="tag p-name">Print - Produits imprimés</h2>

<ol class="services">
<li>
<section>

<p><img src="assets/images/posts/print-huge.png" alt="Édition :Affiches, Flyers, Brochures, dépliants réalisés par Mister-graphx.com" /></p>

<h3 class="large">Édition</h3>

<p>Affiches, Flyers, Brochures, dépliants</p>

</section>
</li>
<li>
<section>

<p><img src="assets/images/posts/print-annonces.png" alt="Annonces presses et encarts publicitaires réalisés par Mister-graphx.com" /></p>

<h3 class="large">Communication</h3>

<p>Annonces presses, encarts publicitaires</p>

</section>
</li>
<li>
<section>

<p><img src="assets/images/posts/print-annonces.png" alt="Signalétique :  réalisés par Mister-graphx.com" /></p>

<h3 class="large">Signalétique</h3>

<p>stikers pour véhicules, t-shirts</p>

</section>
</li>
</ol>

<section class='notification--info'>
<i class="icon icon-plus large"></i>
<div>

<h4 class="medium">Suivi technique <span class="ampersand">&amp;</span> Relation fournisseurs</h4>

<p>Préparation des fichiers, choix du prestataire, suivi de votre fabrication,
nous vous accompagnons et vous conseillons tout au long de votre projet.</p>

</div>
</section>

<footer>

<p>Vous avez un projet imprimé, une maquette a réaliser</p>

<p><a href="#contact" title="" class="cta--segondary">contactez-moi</a></p>

</footer>

        </article>
    </div>
        <div class="bg--web">
        <!-- Intro/ Testimonial -->
        <article id="web" class="js-appear h-entry" data-appear="fade-in" data-appear-direction="">
            <h2 class="tag p-category">web</h2>

<ol class="services">
<li>
<section>

<h3 class="large">Intégration Web</h3>

<p>www.mister-graphx.com crée et intègre des designs sur mesure, pour vos sites ou pages.
Nous n’utilisons pas un framework, nous les utilisons tous et prenons le meilleur de chacun d’eux
pour offrir à nos clients les solutions les plus adaptées à leurs besoins.</p>

</section>
</li>
<li>
<section>

<h3 class="large">Création de sites internet</h3>

<p>Vous avez un projet de création de sites ? De la simple page au site éditorial ou e-commerce, nous vous accompagnons depuis la structuration de votre contenu, jusqu’à la mise en production et prise main de votre site.</p>

</section>
</li>
<li>
<section>

<h3 class="large">Webmastering freelance</h3>

<p>Un site qui n’est pas actualisé ou mis à jour régulièrement, se positionnera moins bien dans les résultats de recherche. Vous êtes entrepreneur, commerçant, une petite ou moyenne entreprise : entretenir et animer votre site implique du temps et des compétences techniques que ni vous , ni un salarié de votre entreprise ne pouvez assumer ?.
Nous répondons à cette problématique en mettant en place des forfaits sur-mesure adaptés à votre budget de communication internet.</p>

</section>
</li>
</ol>

<footer>

<p>Vous avez un projet de site internet, besoin d'un webmaster freelance</p>

<p><a href="#contact" title="" class="cta--segondary">contactez-moi</a></p>

</footer>

        </article>
    </div>
        <div class="bg--intro">
        <!-- Intro/ Testimonial -->
        <article id="intro" class="js-appear h-entry" data-appear="fade-in" data-appear-direction="">
            <h2 class="centered p-name">
            Originals print <span class="ampersand">&</span> web designs since 1998
            <i class="icon icon-star"></i>
            </h2>

            <p>
            <picture class="lazyload">
                <source data-srcset="assets/images/posts/arnaud_b_profil_huge.jpg" media="(min-width: 900px)">
                <source data-srcset="assets/images/posts/arnaud_b_profil_small.jpg" media="(max-width: 899px)" >
                <img    data-src="assets/images/posts/arnaud_b_profil_huge.jpg"
                        data-srcset="assets/images/posts/arnaud_b_profil_huge.jpg"
                        alt="Mister GraphX Avatar">
            </picture>
            </p>

            <p class="e-content">
                <strong><i class="icon icon-star"></i>
                Création de designs originaux internet et imprimés depuis 1998</strong>
                Originalement formé à la typographie et aux métiers de la communication, c'est naturellement que www.mister-graphx.com à évolué vers l'internet. Passionné par un métier en constante évolution, nous veillons à offrir constamment les meilleurs technologies en fonction des besoins de nos clients, trouver des solutions, de nouveaux outils de production, offrir le meilleur de nous même à chaque nouveau projet.
            </p>

            <footer>
                <address class="h-card vcard">
                    <a href="#contact" class="p-name fn u-url url" title="Un projet web, une réalisation de produit imprimé : Contactez moi">Arnaud Bérard <small>(Graphiste)</small></a>
                </address> 
            </footer>

        </article>
    </div>
        <div class="bg--contact">
        <!-- Intro/ Testimonial -->
        <article id="contact" class="js-appear h-entry" data-appear="fade-in" data-appear-direction="">
            <h2 class="tag p-name">Contact</h2>

            <h2>Un projet web, une idée ?</h2>
            
            <h3>Take a seat !</h3>

            <div class="g--half">
                <picture class="lazyload">
                    <source data-srcset="assets/images/posts/contact-chair-desktop.png" media="(min-width: 900px)">
                    <source data-srcset="assets/images/posts/contact-chair-phone.png" media="(max-width: 899px)" >
                    <img    data-src="assets/images/posts/contact-chair-desktop.png"
                            data-srcset="assets/images/posts/contact-chair-desktop.png"
                            alt="Prenez un siège : on en parle">
                </picture>
            </div>

            <div class="g--half g--last">
                <div class="success-message" style="display:none">
                    <h3>Merci de votre message !</h3>
                </div>
                <picture class="thx" style="display: none">
                    <source srcset="assets/images/theme/mascotte_mist_gx--huge.png" media="(min-width: 900px)">
                    <source srcset="assets/images/theme/mascotte_mist_gx--large.png" media="(max-width: 899px)">
                    <img  src="assets/images/theme/mascotte_mist_gx--small.png"
                          srcset="assets/images/theme/mascotte_mist_gx--small.png" alt="">
                </picture>
                <form id="contact-form" class="flat-form">
                    <fieldset>
                        <legend>Me contacter</legend>
                        <ul class="form--horizontal">
                            <li>
                                <label for="name">Votre nom<span class="required">*</span></label>
                                <section class="form__controls">
                                    <input name="_name" type="text" class="form__element" id="user_name" placeholder="Enter your name">
                                </section>
                            </li>
                            <li>
                                <label for="exampleInputEmail1">Adresse e-mail<span class="required">*</span></label>
                                <section class="form__controls">
                                    <input name="_replyto" type="email" class="form__element" id="exampleInputEmail1" placeholder="Enter email">
                                </section>
                            </li>
                            <li>
                                <label for="exampleTextArea">Votre message<span class="required">*</span></label>
                                <section class="form__controls">
                                    <textarea name="message" class="form__element" rows="3"></textarea>
                                <section class="form__controls">
                            </li>
                            <li>
                                <section class="form__controls action">
                                    <button type="submit" class="btn btn-main">Submit</button>
                                </section>
                            </li>
                        </ul>
                    </fieldset>
                </form>
            </div>

        </article>
    </div>
</div>




<div id="footer" role="contentinfo">
    <div class="footer-container">

        <h2 class="footer-heading">Mister-GraphX</h2>
        <p class="text">Création de sites internet, graphisme, web design</p>
        
        
        <ul class="contact-list">
          <li>Mister-GraphX</li>
          <li><a href="mailto:"></a></li>
        </ul>
        
        <ul class="list-pages">
            <li><a href="http://pico-graphx.dev/">Accueil</a></li>
            <li><a href="http://pico-graphx.dev/fr/2014-09-12-print">Print</a></li>
            <li><a href="http://pico-graphx.dev/fr/2014-09-13-web">Web</a></li>
            <li><a href="http://pico-graphx.dev/fr/2014-09-13-intro">Qui suis-je ?</a></li>
            <li><a href="http://pico-graphx.dev/fr/01_contact">Contact</a></li>
            <li><a href="http://pico-graphx.dev/styleguide/">Styleguide</a></li>
        </ul>
        
        <ul class="social-media-list">
            <li><a href="/feed.xml"><i class="icon-rss"></i></a></li>
        </ul>
    </div>
</div>

<!-- ScrollToTop -->
<a href="#nav" id="toTop" class=""><i class="icon-chevron-up"></i></a>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.0/jquery.js"></script>
<script>window.jQuery || document.write('<script src="assets/js/jquery.min.js"><\/script>')</script>

{% for file in app.assets.js %}
    <script src="{{ file }}" type="text/javascript"></script>
{% endfor %}
    
<script>
            
// # Dom Ready
(function($){
    
    // Local Scroll on Anchor Links
    $.localScroll();
    
    // ScrollToTop
    $('#toTop').waypoint(function(direction){
            if(direction === 'down'){
                $(this.element).animate({ opacity: 0.4 })
            }else{
                $(this.element).animate({ opacity: 0 })
            }
        },{
        offset: '25%'
    });
    
    // LazyLoading avec Waypoint    
    $("#main").find('.lazyload')
            .waypoint(function(direction){
                img = $(this.element).children("img");
                source = $(this.element).children("source");
                img.attr('src', img.attr('data-src')).attr('srcset',img.attr('data-srcset'));
                source.attr('srcset', source.attr('data-srcset'));
            },{
                offset: 'bottom-in-view'
            });
   /*
    
    Appear + Waypoints : Load contents only when they are in the viewport
    
    Markup:
    <div class="js-appear" data-appear="fade-in" data-appear-direction="">
        <img src="_TEST/image/landscape/belle_an_untrained_eye.jpg" alt="">
    </div>
   
    
    */
    //** Make all .sectionInfo appear from bottom (change default data-appear-direction="none")
    $('.js-appear').attr('data-appear', 'fade-in').attr('data-appear-direction', '');
    
    // Animations 
    $('*[data-appear="fade-in"]').each(function () {
        //console.log($(this));
        //** Set values or defaults
        var appearDelay = $(this).data('appear-delay') || 0;
        var appearDirection = $(this).data('appear-direction') || 'none';//** Default to none

        //** Prepare for transition (hide and offset)
        $(this).css({ opacity: '0', 'visibility': 'hidden' });
        switch (appearDirection) {
            case 'top': $(this).css({ position: 'relative', top: -$(this).height() / 2 + 'px' }); break;
            case 'right': $(this).css({ position: 'relative', right: -$(this).width() / 2 + 'px' }); break;
            case 'bottom': $(this).css({ position: 'relative', bottom: -$(this).height() / 2 + 'px' }); break;
            case 'left': $(this).css({ position: 'relative', left: -$(this).width() / 2 + 'px' }); break;
        }


        //** Show when comes into view from scrolling down
        $(this).waypoint(function(direction) {
            $(this.element).css({ 'visibility': 'visible' });
            if (direction === 'down') {
                
                switch (appearDirection) {
                    case 'top': $(this.element).delay(appearDelay).animate({ 'opacity': 1, 'top': 0 }, 800); break;
                    case 'right': $(this.element).delay(appearDelay).animate({ 'opacity': 1, 'right': 0 }, 800); break;
                    case 'bottom': $(this.element).delay(appearDelay).animate({ 'opacity': 1, 'bottom': 0 }, 800); break;
                    case 'left': $(this.element).delay(appearDelay).animate({ 'opacity': 1, 'left': 0 }, 800); break;
                    default: $(this.element).delay(appearDelay).animate({ 'opacity': 1 }, 800); //** none (just appear without slide in)
                }
                this.destroy();
            }
        }, {
            offset: function () {
                switch (appearDirection) {
                    case 'top': return $(this.element.viewportHeight) - $(this.element).height(); break;
                    case 'bottom': return $(this.element.viewportHeight); break;
                    default: return $(this.element.viewportHeight) - Math.min($(this.element).height() / 2, 150); break; //** Left or right
                }
            }
        });
    
    });// end @each
    


    
    
    /* Form :
    
    http://hayageek.com/jquery-ajax-form-submit/
    */
    $("#contact-form").submit(function(e){
            var postData = $(this).serializeArray();
            $.ajax({
                url: "//forms.brace.io/mistergraphx@gmail.com",
                method: "POST",
                data: postData,
                dataType: "json",
                success:function(data, textStatus, jqXHR) {
                    $('#contact-form').fadeOut(3000);
                    $('.success-message').fadeIn(3000).css({display:"block"});
                    $('.thx').fadeIn(3000).css({display:"block"});
                },
                error: function(jqXHR, textStatus, errorThrown){
                    //if fails      
                }
            });
            e.preventDefault(); //STOP default action
           // e.unbind(); //unbind. to stop multiple form submit.
    });
    
    //$("#contact-form").submit();
    
})(jQuery);
</script>
</body>
</html>