/* # _GLOBALS


Styleguide theme.globals
*/

// ------------------------------------------------*/
// Colors variables
// ------------------------------------------------*/

$white: white;
$black: black;

$red: #c4151c;
$light-red: #FBE3E4;

$yellow: #ffcb04;
$citron: #fff200;

$dark-purple: #460045;
$medium-purple: #7A035D;

$flash-pink: #C60E90;
$light-pink: #FFC1FF;

$blue: #477dca;

$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;


$brand-color-primary: white;
$brand-color-secondary: red;
$brand-color-tertiary: orange;


// ------------------------------------------------*/
// Base
// ------------------------------------------------*/


// Typography
// To set your em-base & base-line-height you can use :
// Golden ratio calculator <http://www.pearsonified.com/typography/>

// Set base 
$em-base: 14px;
$base-line-height: 1.5;
$base-font-family: $helvetica;
$base-font-size: 1em;
$base-background-color: #fff;
$base-font-color: $dark-gray;

$heading-font-family: 'Roboto', sans-serif;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Action Colors
$action-color: $blue;

// Borders
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// ------------------------------------------------*/
// LAYOUT & GRID
// Neat variables : http://thoughtbot.github.io/neat-docs/latest/#variable
// ------------------------------------------------*/

$max-width: 960px;

// ------------------------------------------------*/
// Set the grid :
// http://gridulator.com/
// http://grid.guide/
// ------------------------------------------------*/

$column: 113px;
$gutter: 8px;
$grid-columns: 8;

// ------------------------------------------------*/
// Sizes
// http://concisecss.com/documentation/core/breakpoints
// Media-queries Boilerplate : http://app.kodery.com/s/1075

// ------------------------------------------------*/


// xs
$extra-small: 320px;
// s
$small: 480px;
// m
$medium: 768px;
// l
$large: 960px;
// xl
$extra-large: 1140px;

// ------------------------------------------------*/
// Breakpoints
// http://thoughtbot.github.io/neat-docs/latest/#new-breakpoint
// ------------------------------------------------*/
// http://include-media.com/
// http://thesassway.com/intermediate/responsive-web-design-in-sass-using-media-queries-in-sass-32
// https://css-tricks.com/approaches-media-queries-sass/
$bp-xs: new-breakpoint(max-width $small - 1, 2);
$bp-s: new-breakpoint(min-width $small, 4);
//$bp-sm: new-breakpoint(min-width ($small + 1)  max-width ($medium - 1) , 8);
$bp-m: new-breakpoint(min-width $medium , 8);
$bp-l: new-breakpoint(min-width $large, 8);
$bp-xl: new-breakpoint(min-width $extra-large, 8);

// ------------------------------------------------*/
// Debug
// ------------------------------------------------*/
$visual-grid: false;
$show-baseline  : false;
$show-layout: false;
$show-w3c: false;
$sass-debug: false; // A utiliser pour tester une variable, map ou résultat
// ------------------------------------------------*/
// Components
// ------------------------------------------------*/



