<div class="top-nav">
    <nav class='responsive-menu js-menumaker' role="primary">
        <div class="head-desktop">
            <a href="/" title="{{ app.name }}">
              <div class="brand">{{ app.name }}</div>
              <div class="baseline">{{ app.slogan }}</div>
            </a>
        </div>
        <div class="head-mobile">
          <button class="mobile-button">
            <span class="mobile-button_text">Navigation</span>
          </button>
          <div class="brand">{{ app.name }}</div>
          <div class="baseline">{{ app.slogan }}</div>
        </div>

        <div class="menu-container">
          {% import "../../macros/menu.njk" as menu %}
          <ul>
           {%- for sibling in nav.root.siblings %}
              <li class="home"><a href="{{app.url}}{{ sibling.href }}" >{{ sibling.title }}</a></li>
              {%- if sibling.children|length  %}
                {%- for child in sibling.children %}
                  {{ menu.menuItem(child) }}
                {%- endfor %}
              {%- endif %}
          {%- endfor %}
          </ul>
        </div>
    </nav>
</div>
